.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 10px;
  color: white;
  height: 60px;
  background-color: blue;
  width: 80%;
}
.card-container4 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 10px;
  color: white;
  height: 60px;
  background-color: red;
  width: 80%;
}
.card-container2 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 10px;
  color: white;
  height: 60px;
  background-color: green;
  width: 80%;
}
.card-container3 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 10px;
  color: white;
  height: 60px;
  background-color: yellow;
  width: 80%;
}
.image {
  height: 15px;
  width: 15px;
  margin: 10px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 30px;
    color: black;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 40px;
    color: black;
  }
}
